.reveal section img,.reveal pre {
  background: transparent;
  border: none;
  box-shadow: none;
}

.reveal p {
  margin: 20px 0;
  line-height: 1.6;
  font-weight: 200;
}

.concept p{
  line-height: 1.5;
  font-size: 0.7em;
  text-align: left;
  letter-spacing: 0.1em;
  font-weight: 200;
}
.concept p strong{
  color:#EE82EE;
  font-weight: 200;
}
ul {
  line-height: 1.5;
}
.reveal h3{
  font-size: 1em;
  letter-spacing: 0.15em;
}
.reveal h4{
  font-size: 0.85em;
  letter-spacing: 0.15em;
}
.reveal ul li,.reveal ol li{
  line-height: 1.5;
  font-style: italic;
  font-weight: 200;
  font-size: 0.7em;
  white-space: nowrap;
  letter-spacing: 0.1em;
}

.reveal a {
  color:#EE82EE;
}

a:hover {
  color:#EE82EE;
  text-decoration: underline;
}